<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product_stock_size.product_id %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product_stock_size.stock %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product_stock_size.size %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product_stock_size.color %>
</p>

<%= link_to 'Edit', edit_product_stock_size_path(@product_stock_size) %> |
<%= link_to 'Back', product_stock_sizes_path %>
