<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store_status.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @store_status.description %>
</p>

<%= link_to 'Edit', edit_store_status_path(@store_status) %> |
<%= link_to 'Back', store_statuses_path %>
