<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:store_id) %>:</strong></dt>
  <dd><%= @product.store_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @product.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @product.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @product.price %></dd>
</dl>
<h2>Categorías</h2>
<div class="well">
	<% if @product.product_categories.size > 0 %>
		<% @product.product_categories.each do |pc| %>
			<span class="label"><%= pc.name %></span>
		<% end %>
	<% else %>
		Este producto no tiene categorías asociadas
	<% end %>
</div>
<h2>Tallas y Modelos</h2>
<div class="well">
<% if @product.product_stock_sizes.size > 0 %>
<ul>
	<% @product.product_stock_sizes.each do |psz| %>
		<li><%= psz.stock %> - <%= psz.size %> - <%= psz.color %></li>
	<% end %>
</ul>
<% else %>
	No se han agregado las tallas a este producto
<% end %>
</div>
<h2>Imágenes</h2>
<div class="well">
<% if @product.product_images.size > 0 %>
	<% @product.product_images.each do |product_image| %>
		<%= image_tag product_image.photo.url(:medium) %>
	<% end %>
<% else %>
	No se han agregado imágenes para este producto
<% end %>
</div>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              store_products_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_store_product_path, :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              store_product_path,
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
